[a-z]*
[A-Z]*
[a-z]*/
[A-Z]*/

.Xauthority
.ssh/
.mozilla/
.fontconfig/
.dropbox-dist
.cache
.bash_history
.ICEauthority
.Xdefaults
.apvlvinfo
.esd_auth
.gtk-bookmarks
.lesshst
.netbeans/
.pulse-cookie
.rbenv/
.rnd
.scala_history
.wine/
.xinitrc
.xsession-errors

