Xcursor.theme: ArchCursorBlue
!------------------!
!   URvxt Stuff    !
!------------------!

URxvt*scrollTtyOutput: false

!--[term name]--!
URxvt*termName: rxvt-unicode

!--[trans and fg/bg]--!
URxvt*tintColor: lightblue
URxvt*transparent: true
URxvt*shading: 25
URxvt*depth: 24
URxvt*borderless: 1

!--[font]--!
URxvt.font: xft:Terminus:autohint=true:pixelsize=10
Xft.antialias: 1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       rgb


!--[scrolling]--!
URxvt*scrollBar: false
URxvt*saveLines: 10000

!--[tabs]--!
!URxvt*perl-ext-common: default,tabbed

!--[urls]--!
URxvt.perl-lib:        /home/tonko/.urxvt
URxvt.perl-ext:        default,matcher,font-size
URxvt.urlLauncher:     /usr/bin/chromium
URxvt.matcher.button:  1

!--[cursor]--!
URxvt*cursorBlink: true

!--[Colours]--!
URxvt*cursorColor: #FFFFFF
URxvt*cursorColor2: #FFFFFF
URxvt*background: #000000
URxvt*foreground: #FFFFFF

URxvt.keysym.Mod4-plus: perl:font:increase
URxvt.keysym.Mod4-minus: perl:font:decrease
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-selet.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
